@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: rgba(169, 137, 137, 0.384);
}
section,
footer{
    padding:0px;
}
h3{
    font-size: 40px;
}
p{
    color: black;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container{
    max-width: 1400px;
    /* o mesmo espaçamento da direita será o da esquerda por isso o 0: */
    margin: 0 auto; 
    padding: 0 5%;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header{
    width: 100%;
    padding: 60px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
}

header a img{
    height: 100px;
    margin: 0px 0px 0px 20px;
}
header ul li{
    display: inline-block;
    margin: 0 15px;
}
header ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 14px;

}
.banner{
    background-position: 100% 0;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.banner .banner-text{
    text-align: center;
    padding: 0 90px;
}
.banner .banner-text h1{
    font-size: 96px;
    color: white;
}
.banner .banner-text h3{
    font-size: 20px;
    color: white;
    font-weight: lighter;
    margin: 18px 0;
} 

header.rolagem{
    background-color: rgb(50, 15, 0);
    height: 70px;
    padding: 5px ;
}
header.rolagem img{
   height: 70px;
   padding: 2px;
}
header.rolagem a, header.rolagem i{
    color: white;
    font-size: 14px;
}


header ul li a::after{
    content: "" ;
    background-color: rgb(255, 255, 255);
    height: 1px;
    width: 0%;
    display: block;
    transition: 0.3s;
}
 
header ul li a:hover::after{
    width: 100%;
}

/* História */
.historia{
    background-color:  rgba(189, 176, 176, 0.601);
}
.petatlo-historia{
    width: 70%;
    text-align: justify;
    /* background-color: aqua; */
    margin: auto;
}
.petatlo-historia h3{
    text-align: center;
    /* background-color: rgba(0, 153, 255, 0.209); */
    border-radius:  4px;
    margin: 0px;
    padding: 20px;
}
.petatlo-historia p{
    padding: 0px 10px 50px 10px;

}
/* noticias */

.noticias{
    text-align: center;
    background-color: rgba(214, 197, 197, 0.601);
    padding: 20px 0px 100px 0px;
}
.noticias h3{
    margin: 40px 0px;
}
.petatlo-noticia{
    width: 70%;
    margin: auto;
    display: inline-flex;
}
.petatlo-noticia iframe{
    height: 310px;
    border-radius: 5px;
}
.petatlo-noticia a{
    display: inline-block;
    color: black;
    margin: 10px;
    padding: 8px 110px;
    border-radius: 3px;
    background-color: rgb(55, 31, 25);
    color: white;
    text-decoration: none;
    font-size: 13px;
    transition: 0.3s;
}

.petatlo-noticia a:hover{
    background-color: rgba(98, 74, 67, 0.613);
}

/*  MODALIDADES */
.modalidade-1{
    background-color: rgba(189, 176, 176, 0.601);
    text-align: center;
}
.modalidade-1 h3{
    padding: 40px 0px 20px 0px;
}
.modalidade-1 .box{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgba(189, 176, 176, 0.601); */
}

.color-1{
    background-color: rgb(224, 221, 208);
    /* border: 2px solid black; */
    margin: 15px;
    padding: 30px;
    display: flex;
    text-align: justify;
    justify-content: space-around;
    border-radius: 10px;
    width: 70%;
}
.color-1 .modalidade-texto h3{
    padding: 20px 0px 20px 0px;
    text-align: justify;
}
.modalildade .modalidade-texto{
    padding: 0 40px;
}
.modalildade .modalidade-texto h3{
    padding: 50px;
    font-size: 56px;
}
.modalildade .modalidade-texto p{
    margin: 5px 0 10px 0;
}
.modalildade .modalidade-imagem{
    width: 50%;
}

.modalidade-imagem img{
    width: 350px;
    height: 250px;
    border-radius: 5px;
}
.modalidade-imagem .caption{
    color: rgb(71, 71, 71);
    font-style: italic;
    font-size: 14px;
}

.btn{
    background-color: rgb(55, 31, 25);
    color: aliceblue;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    padding: 8px 12px;
    margin: 30px 0px;
}
.btn:hover{
    background-color: rgba(80, 54, 47, 0.613);
}

/* medalhistas: */

.medalistas{
    text-align: center;
    margin: auto;
    padding: 20px 0px 50px;
    margin: 20px;
}
.petatlo-medalhas{
    width: 70%;
    margin: auto;
}
.petatlo-medalhas p{
    padding-bottom: 20px;
}

/* CAROUSEL */
.carrossel{
    text-align: center;
    padding: 20px;
}

.carrossel h3{
    padding: 30px 0px;
}
.carousel {
    margin: auto;
    width: 50%;
    /* height: 300px; */
    position: relative;
    overflow: hidden;
  }
  
  .slides {
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 0.3s ease-in-out;
  }
  
  .slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .slide img {
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
  }
  
  .caption {
    font-weight: bold;
    margin-top: 10px;
    font-size: 18px;
    color: rgb(0, 0, 0);
  }
  
  .prev-btn,
  .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .prev-btn {
    left: 0;
  }
  
  .next-btn {
    right: 0;
  }
  
/* INTEGRANTES: */
.integrantes{
    background-color: rgba(189, 176, 176, 0.601);;
    padding: 20px 0px 70px 0px;
}
.integrantes h3{
    text-align: center;
    padding: 10px;
}
.integrantes p{
    margin-bottom: 20px;
    text-align: center;
}
.cards{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.integrantes .card-item{
    background-color: aliceblue;
    margin: 15px;
    border-radius: 14px;
    text-align: center;
    width: 390px;
}
.integrantes .card-item img{
    /* border-radius: 100%; */
    width: 200px ;
    display: block;
    margin: 10px auto;
    border-radius: 5px;
}
.integrantes .card-item .nome-user{
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 15px;
    transition: 0.10s;
}
.integrantes .card-item .integrantes-bio{
    font-size: 14px;
    padding: 0 15px;
    transition: 0.10s;
    text-align: justify;

}
.integrantes .card-item:hover{
    background-color: rgb(55, 31, 25);
    margin-top: -5px;
    transition: 0.7s;
}
.integrantes .card-item:hover .nome-user,
.integrantes .card-item:hover .integrantes-bio{
    color: white;
}
/* TABELA: */
.medalistas{
    .imagem{
        vertical-align: middle;
        width: 15%;
        padding: 4px 0;
    }

    .imagem2{
        vertical-align: middle;
        width: 10%;
        padding: 4px 0;
    }

    .ouro{
        background-color: #f7f6a8;
    }

    .prata{
        background-color: #dce5e5;
    }

    .total{
        background-color: #ebefef;
    }

    .bronze{
        background-color: #ffdab9;
    }

    .padrão{
        background-color: #ffffff;
    }

}
/* PRIMIERO MEDALHISTA */
.primeiro-medalhista{
    background-color:  rgba(189, 176, 176, 0.601);
    padding-top: 20px;
}
.box-primeiro-medalhista{
    width: 70%;
    text-align: justify;
    /* background-color: aqua; */
    margin: auto;
}
.primeiro-medalhista h3{
    text-align: center;
    border-radius:  4px;
    margin: auto;
    padding-top: 20px;
}
.primeiro-medalhista h1{
    text-align: center;
    padding-bottom: 20px;
}
.primeiro-medalhista p{
    padding: 0px 10px 50px 10px;

}
.imagem {
    width: 50%;
    max-width: 50%;
    height: auto;
    border-radius: 8px;

}
.primeiro-medalhista .caption{
    color: rgb(71, 71, 71);
    font-style: italic;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}
.primeiro-medalhista span{
    font-size: 22px ;
    color: rgb(55, 31, 25);
    font-weight: bold;
}

/* SOBRE O TRABALHO: */
.sobre-o-trabalho{
    text-align: center;
    margin: auto;
    padding: 40px 0px 70px 0px;
}
.petatlo-sobre{
    width: 70%;
    margin: auto;
    text-align: justify;
}
.petatlo-sobre h3{
    margin: 20px 0px;
    text-align: center;
    /* background-color:  rgba(0, 153, 255, 0.209); */
}
/* PAGINASS SECUNDARIAS */
.box-2{
    background-color: rgb(255, 254, 251);
    width: 60%;
    margin: auto;
    padding: 30px;
    margin-top: 20px;
    border-radius: 10px;
    text-align: justify;
}
/* FOOTER: */
footer{
    height: auto;
    background-color: rgba(42, 42, 42, 0.71);
    text-align: center;
}
footer .container{
    display: flex;
    justify-content:center;
}
footer .links{
    padding: 50px;
}
footer img{
    margin: 30px;
    width: 280px;
}
footer i{
    color: white;
    font-size: 23px;
    /* background-color: aquamarine; */
    padding: 10px;
    margin: 10px 0px 2px 0px;
    border-radius: 5px;
}
footer p{
    color: white;
    padding-bottom: 10px ;
}
/* RESPONSIVIDADE */
@media screen and (max-width: 640px){
    .banner .banner-text h1{
        font-size: 80px;
    }
    .banner .banner-text h3{
        font-size: 16px;
    }
    header ul li{
        display: inline-block;
        margin: 0 13px;
    }
    header a img{
        margin: 0px;
        height: 60px;
    }
    header ul li a{
        font-size: 13px;
    
    }
    .btn{
        height: 40px;
        padding: 5px;
        font-size: 15px;
        display: inline-block;
    }
    
    header.rolagem img{
       height: 60px;
    }
    header.rolagem a, header.rolagem i{
        font-size: 12px;
    }
    .color-1{
        display: block;
    }
    .btn{
        padding: 7px 130px;
        margin: 30px 0px;
    }
    .petatlo-noticia{
        display: block;
        justify-content: center;
    }
    .petatlo-noticia a{
        padding: 8px 115px;
    }

    .noticia-01{
        padding: 50px 50px;
    }
    .noticia-03{
        padding: 50px 50px;

    }
    .prev-btn,
    .next-btn {
      top: 30%;
      background-color: rgb(0, 0, 0);
    }
    .cards{
        display: block;
        justify-content: center;
        padding: 30px 130px;
    }
    .integrantes .card-item{
        border-radius: 13px;
        text-align: center;
        padding-top: 10px ;
        width: 330px;
    }
    .integrantes .card-item .integrantes-bio{
        padding: 0px 13px 35px 13px;
    }
    footer .container{
        display: block;
    }
}